@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Source+Sans+Pro&display=swap");

$colors: (
  primary: #b91c1c,
  secondary: #414141,
);

$font-primary: "Source Sans Pro", sans-serif;
$font-headings: "Belleza", sans-serif;

$tablet-width: 768px;
