.btn-primary {
  background: getColor(primary);
  text-decoration: none;
  color: white;
  padding: 0.4em;
  border-radius: 5px;
  border: none;

  &:hover {
    background: darken(getColor(primary), 10);
    cursor: pointer;
  }
}

#trashBtn {
  cursor: pointer;
  font-size: 28px;
  margin-left: 10px;
}
