input {
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  background: lightgrey;
}

textarea {
  border-radius: 5px;
  border: none;
  background: lightgrey;
}

.form-error {
  color: red;
  display: none;
}
